#pw-change-form-container {
   display: block;
   text-align: center;
}

#pw-change-form {
   display: inline-block;
   text-align: left;
}

#pw-change-form input {
   display: block;
   margin-top: 1rem;
   height: 2rem;
   padding-left: 0.5rem;
   border: var(--main-second-color) solid 2px;
}

#pw-change-form button[type="submit"] {
   display: inline-block;
   margin: 1em 0;
   height: 2.5rem;
   border-radius: 0.75rem;
   border: 1px;
   color: white;
   background-color: var(--main-sixth-color);
   cursor: pointer;
}

#pw-change-form button[type="submit"]:hover {
   background-color: var(--secondary-sixth-color);
}
