#pw-forget-main {
   position: relative;
   top: 7em;
   margin: 0 1.5rem;
   background-color: white;
   box-shadow: -0.15rem -0.15rem 0.62rem 0.125rem rgb(13, 12, 15);
}

#pw-forget-title {
   padding: 1rem 0;
   color: var(--main-third-color);
   font-size: 1.5rem;
   font-weight: bold;
}

.link-password-text {
   margin-top: 1rem;
   font-size: 1.05rem;
}

.link-password {
   color: white;
   font-size: 1.05rem;
}

#pw-forget-form-container {
   display: block;
   text-align: center;
}

#pw-forget-form {
   display: inline-block;
   text-align: left;
}

#pw-forget-form input {
   display: block;
   margin-top: 1rem;
   height: 2rem;
   padding-left: 0.5rem;
   border: var(--main-second-color) solid 2px;
}

#pw-forget-form button[type="submit"] {
   display: inline-block;
   margin: 1rem 0;
   height: 2.5rem;
   border-radius: 0.75rem;
   border: 1px;
   color: white;
   background-color: var(--main-sixth-color);
   cursor: pointer;
}

#pw-forget-form button[type="submit"]:hover {
   background-color: var(--secondary-sixth-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
   #pw-forget-main {
      top: 4em;
      margin-bottom: 5rem;
   }

   #pw-forget-form input {
      height: 1.5rem;
   }

   #pw-forget-form button[type="submit"] {
      height: 2rem;
      font-size: 0.75rem;
   }
}
