#explore-public-posts {
   position: relative;
   top: 5rem;
}

#explore-header {
   height: 21rem;
   width: 100%;
   background: url("../../../resources/background_img.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -1;
   opacity: 0.9;
   box-shadow: 0 0.1rem 0.62rem 0.125rem rgb(13, 12, 15);
}

#explore-header h1 {
   position: relative;
   top: 35%;
   color: rgb(250, 250, 250);
   font-size: 3rem;
   font-weight: bold;
}

#user-public-presentation {
   margin: 2rem;
   margin-bottom: 2rem;
   background-color: white;
   box-shadow: -0.15em -0.15em 0.62em 0.125em rgb(13, 12, 15);
   display: flex;
   align-items: center;
   flex-direction: row;
}

#user-public-description {
   flex-grow: 2;
   margin: 0 2rem;
   margin-top: 2rem;
   margin-bottom: 1.5rem;
   padding: 1rem;
   font-family: "Times New Roman", Times, serif;
   font-size: 1.25rem;
   font-style: italic;
   word-break: normal;
   border: var(--main-second-color) solid 2px;
   border-radius: 1rem;
}

#public-prof-img {
   flex-grow: 1;
   margin: 1rem auto;
   max-width: 20rem;
   max-height: 20rem;
}

#record-exit {
   flex-grow: 1;
   display: block;
}

#user-public-recording {
   margin: 1.5rem 1rem;
}

#explore-section {
   margin: 2rem;
   margin-bottom: 8rem;
   display: flex;
   flex-wrap: wrap;
   background-color: white;
   box-shadow: -0.15em -0.15em 0.62em 0.125em rgb(13, 12, 15);
}

#post-section {
   width: 70%;
}

#user-posts-section {
   width: 29%;
   border-left: 1px solid black;
}

#user-posts-section-title {
   padding-top: 1rem;
   font-size: 1.5rem;
   font-weight: bold;
}

#explore-user-posts-section {
   position: relative;
   top: 5rem;
}

#explore-user-posts-content {
   margin: 2rem;
   margin-bottom: 8rem;
   background-color: white;
   box-shadow: -0.15em -0.15em 0.62em 0.125em rgb(13, 12, 15);
}

#return-button {
   max-width: 9rem;
   margin-top: 1.2rem;
   margin-bottom: 1.2rem;
   padding: 0.5rem;
   color: white;
   background-color: var(--main-fifth-color);
   border-radius: 0.75rem;
   font-size: 0.9rem;
}

#return-button:hover {
   cursor: pointer;
   background-color: var(--main-fourth-color);
}

#no-post-message {
   padding: 1rem 0;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
   #explore-public-posts {
      top: 3rem;
   }

   #explore-section {
      margin: 1rem;
      margin-bottom: 6rem;
      display: block;
   }

   #post-section {
      width: 100%;
      margin-bottom: 1rem;
   }

   #user-posts-section {
      width: 100%;
   }

   #user-posts-section-title {
      padding-top: 1rem;
      font-size: 1.2rem;
   }

   #explore-user-posts-content {
      margin-bottom: 4rem;
   }

   #return-button {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      padding: 0.5rem;
      color: white;
      background-color: var(--main-fifth-color);
      border-radius: 0.75rem;
      font-size: 0.95rem;
   }
}
