img {
   max-width: 90%;
   max-height: 800rem;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;
}

.public-post {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem 1rem;
   /*border-color: teal;*/
   border-color: var(--main-second-color);
   border-width: 0.5rem;
   border-style: solid;
}

.post-info {
   width: 40%;
   padding: 0 2em;
}

.public-post-title {
   color: var(--main-third-color);
   font-size: 1.5rem;
   font-weight: bold;
}

.public-post-email {
   margin-top: 1rem;
   color: rgb(148, 139, 139);
   font-style: italic;
   font-size: 1rem;
}

.public-post-date {
   margin-top: 1rem;
   color: rgb(148, 139, 139);
   font-style: italic;
   font-size: 0.75rem;
}

.public-post-show-content {
   margin-top: 1rem;
   padding: 0.75rem 0.5rem;
   color: white;
   background-color: var(--main-third-color);
   border-radius: 0.75rem;
   font-size: 0.9rem;
}

.public-post-show-content:hover {
   background-color: var(--secondary-third-color);
   cursor: pointer;
}

.post-body {
   max-width: 60%;
   text-align: justify;
   padding: 1em 2em;
   word-break: break-all;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
   img {
      width: 70%;
      height: 20rem;
   }

   .public-post {
      display: block;
   }

   .post-info {
      width: inherit;
      padding: 0 2em;
      align-content: center;
   }

   .post-body {
      max-width: 100%;
      padding: 1em 1em;
   }
}
