html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}

body {
   background: linear-gradient(
      90deg,
      rgba(147, 165, 207, 1) 0%,
      rgba(228, 239, 233, 1) 100%
   );
}

body {
   --main-first-color: rgb(166, 28, 49);
   --main-second-color: rgb(149, 180, 59);
   --main-third-color: rgb(70, 107, 63);
   --secondary-third-color: rgb(54, 82, 48);
   --main-fourth-color: rgb(86, 90, 92);
   --main-fifth-color: rgb(177, 178, 176);
   --main-sixth-color: rgb(118, 35, 47);
   --secondary-sixth-color: rgb(63, 18, 25);
}
