.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

footer {
   width: 100%;
   position: fixed;
   bottom: 0;
   background-color: #f53434ff;
   color: #ffffff;
   font-size: 0.8em;
}

#icon-anchor {
   color: white;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
   footer {
      width: 100%;
      position: static;
      background-color: #f53434ff;
      color: #ffffff;
      font-size: 0.5em;
   }
}
