.sign-out-btn {
   position: fixed;
   top: 1.8rem;
   right: 1.7rem;
   display: inline-block;
   border: none;
   background-color: var(--main-first-color);
   color: white;
   font-size: 1.2rem;
   text-decoration: none;
}

.sign-out-btn:hover {
   cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
   .sign-out-btn {
      top: 1rem;
      right: 1rem;
      font-size: 0.6rem;
   }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
   .sign-out-btn {
      top: 0.7rem;
      right: 1rem;
      font-size: 1rem;
   }
}
