#home-main {
   position: relative;
   top: 5rem;
}

#home-header {
   height: 21rem;
   width: 100%;
   background: url("../../../resources/creativity_img.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -1;
   opacity: 0.9;
   box-shadow: 0 0.1rem 0.62rem 0.125rem rgb(13, 12, 15);
}

#home-header h1 {
   position: relative;
   top: 8%;
   color: rgb(250, 250, 250);
   font-size: 3em;
   font-weight: bold;
}

#user-presentation {
   margin: 2rem;
   margin-bottom: 2rem;
   background-color: white;
   box-shadow: -0.15em -0.15em 0.62em 0.125em rgb(13, 12, 15);
   display: flex;
   align-items: center;
   flex-direction: row;
}

#user-description {
   flex-grow: 2;
   margin: 0 2rem;
   margin-top: 3rem;
   margin-bottom: 1.5rem;
   padding: 1rem;
   font-family: "Times New Roman", Times, serif;
   font-size: 1.25rem;
   font-style: italic;
   word-break: normal;
   border: var(--main-second-color) solid 2px;
   border-radius: 1rem;
}

#prof-img {
   flex-grow: 1;
   margin: 1rem auto;
   max-width: 20rem;
   max-height: 20rem;
}

#recording-section {
   flex-grow: 1;
   display: block;
}

#user-recording {
   margin: 0.8rem 1rem;
}

#file-uploader {
   margin-top: 1.5rem;
   margin-bottom: 2rem;
   word-break: normal;
}

#file-uploader button {
   padding: 0.75rem 0.5rem;
   color: white;
   background-color: var(--main-third-color);
   font-size: 0.9rem;
}

#home-post-section {
   margin: 2rem;
   margin-bottom: 6rem;
   background-color: white;
   box-shadow: -0.15em -0.15em 0.62em 0.125em rgb(13, 12, 15);
}

#button-new-post {
   margin-top: 1.2rem;
   margin-bottom: 1.2rem;
   padding: 0.5rem;
   color: white;
   background-color: var(--main-fifth-color);
   border-radius: 0.75rem;
   font-size: 1rem;
}

#button-new-post:hover {
   background-color: var(--main-fourth-color);
   cursor: pointer;
}

@media only screen and (min-width: 200px) and (max-width: 1000px) {
   #home-main {
      top: 3rem;
   }

   #home-header {
      height: 18rem;
   }

   #home-header h1 {
      top: 10%;
      font-size: 2em;
   }

   #button-new-post {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      padding: 0.5rem;
      color: white;
      background-color: var(--main-fifth-color);
      border-radius: 0.75rem;
      font-size: 1.1rem;
   }
}
