.form-container {
   margin: 1rem 0;
   display: block;
   text-align: center;
}

.post-form {
   margin-top: 4rem;
   display: inline-block;
   width: 75%;
   margin-left: 12.5%;
   margin-right: 12.5%;
   text-align: left;
}

.post-form button[type="submit"] {
   display: inline-block;
   margin: 1em 0;
   width: 25%;
   height: 3em;
   border-radius: 0.75em;
   border: 1px;
   color: white;
   background-color: var(--main-third-color);
   cursor: pointer;
}

.post-form button[type="submit"]:hover {
   background-color: var(--secondary-third-color);
}

.post-form section label {
   margin-top: 1em;
}

.post-form section select {
   margin-top: 1em;
   border: var(--main-second-color) solid 2px;
}

.post-form section select option {
   margin-top: 1em;
   height: 2em;
   border: var(--main-second-color) solid 2px;
}

.text-editor {
   padding-top: 1em;
   padding-bottom: 1em;
}

.post-prev {
   width: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
   word-wrap: break-word;
   text-align: justify;
   text-justify: inter-word;
   line-height: normal;
}

.new-post-input {
   display: block;
   margin-top: 1em;
   height: 2em;
   border: var(--main-second-color) solid 2px;
}

#form-file-uploader {
   margin-top: 1.5rem;
   margin-bottom: 2rem;
}
