img {
   max-width: 90%;
   max-height: 800rem;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;
}

.home-user-post-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem 1rem;
   border-color: var(--main-second-color);
   border-width: 0.5rem;
   border-style: solid;
}

.home-user-post-info {
   max-width: 40%;
   padding: 0 2rem;
   min-width: 30%;
}

.user-post-title {
   color: var(--main-third-color);
   font-size: 1.5rem;
   font-weight: bold;
}

.user-post-date,
.user-post-topic {
   margin-top: 1rem;
   color: rgb(148, 139, 139);
   font-style: italic;
   font-size: 0.85rem;
}

.user-post-show-content {
   max-width: 60%;
   margin-top: 1rem;
   padding: 0.75rem 0.5rem;
   color: white;
   background-color: var(--main-third-color);
   border-radius: 0.75rem;
   font-size: 0.9rem;
}

.user-post-body {
   padding: 1rem;
}

.user-post-show-content:hover {
   background-color: var(--secondary-third-color);
   cursor: pointer;
}

.user-edit-post {
   margin: 0 0.5rem;
   background-color: var(--main-fifth-color);
}

.user-delete-post,
.user-cancel-form {
   background-color: var(--main-sixth-color);
   margin-bottom: 1rem;
}

.user-edit-post,
.user-delete-post,
.user-cancel-form {
   margin-top: 1rem;
   padding: 0.75rem 1rem;
   color: white;
   border-radius: 0.5rem;
   font-size: 0.9rem;
   cursor: pointer;
}

.user-delete-post:hover,
.user-cancel-form:hover {
   background-color: var(--secondary-sixth-color);
}

.user-edit-post:hover {
   background-color: var(--main-fourth-color);
}

.user-post-form {
   margin-top: 1.5em;
   padding: 1em 0;
   border-color: var(--main-second-color);
   border-width: 0.5em;
   border-style: solid;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
   img {
      width: 70%;
      height: 20rem;
   }

   .home-user-post-container {
      display: block;
      align-items: center;
      justify-content: center;
      padding: 1rem 1rem;
   }

   .user-post-show-content,
   .user-edit-post,
   .user-delete-post,
   .user-cancel-form {
      padding: 0.5rem 0.75rem;
   }

   iframe {
      width: 100%;
   }
}
