.home-main {
   position: relative;
   top: 5em;
}

.header-home {
   background: url("../../resources/creativity_img.jpg");
   height: 21em;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: -1;
   opacity: 0.9;
   box-shadow: 0 0.1em 0.62em 0.125em rgb(13, 12, 15);
}

.header-home h1 {
   position: relative;
   top: 8%;
   color: rgb(250, 250, 250);
   font-size: 3em;
   font-weight: bold;
}

.post-div-home {
   position: relative;
   left: 10%;
   width: 80%;
   margin-top: 2em;
   margin-bottom: 6em;
   padding-bottom: 1em;
   align-content: center;
   background-color: white;
   box-shadow: -0.15em -0.15em 0.62em 0.125em rgb(13, 12, 15);
}

.button-new-post {
   margin-top: 1.2em;
   margin-bottom: 1.2em;
   padding: 0.5em;
   color: wheat;
   background-color: rgb(247, 36, 36);
   border-radius: 0.75em;
   font-size: 1.25em;
}

.button-new-post:hover {
   cursor: pointer;
}

.user-cancel-form {
   padding: 0.75em 0.5em;
   color: wheat;
   background-color: rgb(247, 36, 36);
   border-radius: 0.5em;
   font-size: 1em;
   cursor: pointer;
}
