.form-container {
   margin: 1em 0;
   display: block;
   text-align: center;
}

.post-form {
   display: inline-block;
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   text-align: left;
}

.post-form button[type="submit"] {
   display: inline-block;
   margin: 1em 0;
   width: 25%;
   height: 2em;
   border-radius: 0.75em;
   border: 1px;
   background-color: rgb(140, 255, 140);
   cursor: pointer;
}

.post-form section label {
   margin-top: 1em;
}

.post-form section select {
   margin-top: 1em;
   border: slateblue solid 2px;
}

.post-form section select option {
   margin-top: 1em;
   border: slateblue solid 2px;
}

.text-editor {
   padding-top: 1em;
   padding-bottom: 1em;
}

.post-prev {
   width: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
   word-wrap: break-word;
   text-align: justify;
   text-justify: inter-word;
}

.new-post-input {
   display: block;
   margin-top: 1em;
   border: slateblue solid 2px;
}
